:root {
  --board-font: "Finger Paint", cursive;
  --primary-font: sans-serif;
  --d-pinkish: #ff2e63;

  --d-primary-bg: #252a34;
  --d-primary-font: #fff;
  --d-winner-bg: #42fffc;
}

* {
  box-sizing: border-box;
  color: var(--d-primary-font);
  transition: 0.2s ease-in-out;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  background-color: var(--d-primary-bg);
  width: 100vw;
  text-align: center;
  padding-top: 5vh;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dark-light-icon {
  position: absolute;
  top: 4%;
  right: 3%;
  width: 30px;
  cursor: pointer;
}

.turn-container {
  width: 170px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  font-family: var(--board-font);
  /* background-color: #ff2e63; */
}

.turn-container h3 {
  font-size: 1.4rem;
  font-family: var(--primary-font);
  grid-column-start: 1;
  grid-column-end: 3;
}

.turn-container .turn-box {
  /* background-color: rgb(1, 62, 64); */
  border: 3px solid var(--d-primary-font);
  font-size: 1.6rem;
  font-weight: 700;
}

.turn-container .turn-box:nth-child(even) {
  border-right: none;
}

.bg {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--d-pinkish);
  height: 41px;
  width: 85px;
  z-index: -1;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 275px;
  width: 275px;
  margin: 40px auto;
  font-family: var(--board-font);
  /* border: 2px solid white; */
}

.box {
  cursor: pointer;
  font-size: 3.5rem;
  border-right: 4px solid var(--d-primary-font);
  border-bottom: 4px solid var(--d-primary-font);
  font-weight: 700;
}

.box:nth-child(3n) {
  border-right: none;
}

.box:nth-child(6) ~ .box {
  border-bottom: none;
}

#result {
  margin: 15px auto;
  font-size: 2rem;
}

#new-game {
  background-color: var(--d-pinkish);
  padding: 10px 30px;
  border: none;
  font-size: 1.3rem;
  border-radius: 6px;
  cursor: pointer;
}

#reset-btn {
  background-color: var(--d-pinkish);
  padding: 10px 30px;
  border: none;
  font-size: 1.4rem;
  border-radius: 6px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.winner-bg {
  background-color: var(--d-winner-bg);
  color: var(--d-primary-bg);
}

.hover:hover {
  background-color: var(--d-pinkish);
}

.light-theme {
  --d-primary-bg: #fff;
  --d-primary-font: #252a34;
  --d-winner-bg: #004847;
  --d-pinkish: #ff4674;
}
